*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    font-size: 12px;
}

h1{
    text-align: center;
    font-size: 4rem;
    opacity: 0.5;
}

.container{
    border: 5px solid black;
    width: 80%;
    height: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-evenly;

}

.box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    font-size: 4rem;
    text-align: center;
}

.uno{
    background-color: rgb(145, 145, 255);
  
}

.dos{
    background-color: rgb(255, 145, 145);
}

.tres{
    background-color: rgb(145, 255, 145);
}

.cuatro{
    background-color: rgb(255, 255, 145);
}

.cinco{
    background-color: rgb(255, 145, 255);
}

.seis{
    background-color: rgb(145, 255, 255);
    flex-grow: 1;
}