* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 255, 195);
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 400px;
    width: 400px;
    background-color: blanchedalmond;
}

h1 {
    color: rgb(255, 74, 74);
    font-size: 3rem;
}

ul {
    text-decoration: none;
    list-style: none;
}

li {
    display: flex;
    justify-content: stretch;
    margin: 10px;
    font-size: 2em;
    background-color: rgb(162, 255, 154);
    color: rgb(214, 0, 0);
}

.text-marron {
    color: brown;
}